$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

* {
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  @include mq(lg) { // 引数を省略（初期値はmdの768px）
    font-size: 15px;
  }
}
ul,li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
.d-none {
  display: none!important;
}

#game-view {
  background-color: black;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh; 
  width: 100%;
  max-width: 720px;
  position: relative;
}

#title {
  font-size: 20px;
  display: block;
  text-align: center;
  position: absolute;
  top: 40vh;
  width: 100%;
}
#start-button {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  width: 200px;
}
#game-over-message {
  font-size: 20px;
  display: block;
  padding-left:1vh;
  text-align: left;
  position: absolute;
  top: 40vh;
  width: 100%;
}

#pref-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  li {
    cursor: pointer;
    color: white;
    font-size: 20px;
    width: 33.3%;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

#info-field-wrapper {
  padding: 1.5vh;
  position: absolute;
  height: 20vh;
  width: 100%;
  top: 0;

  #info-field {
    border: 1px solid white;
    border-radius: 4px;
    padding: 1vh;
    height: 100%;
    width: 100%;
  }
  * {
    font-size: 15px;
    @include mq(lg) { // 引数を省略（初期値はmdの768px）
      font-size: 15px;
    }
  }
}

#card-field-wrapper {
  padding: 1.5vh;
  position: absolute;
  height: 20vh;
  width: 100%;
  bottom: 0;
  
  #card-field {
    /*border: 1px solid white;*/
    border-radius: 4px;
    padding: 1vh;
    height: 100%;
    width: 100%;

    #card-list {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      li {
        cursor: pointer;
        background-color: white;
        border-radius: 4px;
        color: black;
        height: 100%;
        padding: 1vh;
        width: 18%;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}


#battle-field-wrapper {
  position: absolute;
  top: 23vh;
  height: 50vh;
  padding: 1.5vh;
  width: 100%;
  #battle-field {
    border: 1px solid white;
    border-radius: 4px;
    height: 100%;
    padding: 1vh;
    width: 100%;
  }
  * {
    font-size: 15px;
    @include mq(lg) { // 引数を省略（初期値はmdの768px）
      font-size: 15px;
    }
  }
  #message {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.5vh
  }
}

