* {
  box-sizing: border-box;
  color: white;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
.d-none {
  display: none!important;
}

#game-view {
  background-color: black;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh; 
  width: 100%;
  max-width: 720px;
  position: relative;
}

#start-button {
  background-color: white;
  color: black;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50vh;
  left: 50vh;
  width: 200px;
}

#pref-list {
  display: flex;
  height: 100%;
  width: 100%;
  li {
    cursor: pointer;
    color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

#info-field-wrapper {
  padding: 1.5vh;
  position: absolute;
  height: 20vh;
  width: 100%;
  top: 0;

  #info-field {
    border: 1px solid white;
    border-radius: 4px;
    padding: 1vh;
    height: 100%;
    width: 100%;
  }
}

#card-field-wrapper {
  padding: 1.5vh;
  position: absolute;
  height: 20vh;
  width: 100%;
  bottom: 0;
  
  #card-field {
    border: 1px solid white;
    border-radius: 4px;
    padding: 1vh;
    height: 100%;
    width: 100%;
  }
}


#battle-field-wrapper {
  position: absolute;
  top: 23vh;
  height: 54vh;
  padding: 1.5vh;
  width: 100%;
  #battle-field {
    border: 1px solid white;
    border-radius: 4px;
    height: 100%;
    padding: 1vh;
    width: 100%;
  }
}
